.booting {
    background-color: black;
    color: aliceblue;
    padding: 12px;
}

.booting2 {
    color: red;
}

.ter {
    color: black;
    font-weight: bold;
    text-align: justify;
}

.ter:hover {
    color: red;
}

.bbt {
    box-shadow: 1px 2px 9px #777777;
}

